.card-container {
    display: flex;
    flex-direction: column;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    background-color: #135e9a;
    border: 1px solid #d2ae29;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    cursor: pointer;
    backface-visibility: visible;
    width: 85%;
}

.card-container:hover {
    transform: scale(1.05);
}

img {
    margin: 0 auto;
}